%h2.center Tacha Product Listings
%br

#products.transitions-enabled
  - @parsed_response.each do |id, product|
    .box.panel.panel-default
      = link_to image_tag(product['image_url']), controller: "products", action: "show", :id => product["entity_id"]
      .panel-body
        .product_name= link_to product['name'], controller: "products", action: "show", :id => product["entity_id"]
        .product_description= link_to product['short_description'].html_safe, controller: "products", action: "show", :id => product["entity_id"]

